header {
    background-color: #50409a;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;

}

header h1 {
    font-size: 1rem;
    font-weight: 200;
}



button {
    color: white;
    border: 0;
    background-color: #ff7bbf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 2px;
    padding: 0.25rem 2rem;
}

.searchDiv {
    display: flex;
}

.searchDiv input {
    margin-right: 5px;
    width: 12em;
}

.map {
    background-color: lightpink;
    height: calc(100vh - 55px);
}
